@charset "utf-8";
@import "_vars.scss";
@import "_mixin.scss";

body{
  font-family: $base_font;
  background: $base_color;
  background: -webkit-linear-gradient(top left, $sub_color2 0%,$sub_color1 100%);
  background: linear-gradient(to bottom right, $sub_color2 0%,$sub_color1 100%);
  color: $sub_color1;
}

/* header & hamburgerMenu
----------------------------------*/
.header{
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  background-color: $sub_color1;
  box-shadow: 0px 3px 3px 3px rgba(42,63,102,0.2);
  position: relative;
  @include for-size(phone-only) {
    padding: 10px 0;
  }
  h1{
    font-size: 40px;
    color: $txt_color2;
    font-style: italic;
    margin-left: 20px;
    @include for-size(phone-only) {
      margin-left: 10px;
      font-size: 30px;
    }
  }
  .sp-menu {
    margin-left: auto;
    display: none;
    color: $txt_color2;
    @include for-size(phone-only) {
      display: block;
      position: absolute;
      top: -6px;
      right: 16px;
    }
    #open-menu {
      font-size: 32px;
      line-height: 64px;
      cursor: pointer;
      &.hide {
        display: none;
      }
    }
  }
  .pc-menu{
    position: relative;
    transition: all .3s ease-in;
    margin-left: auto;
    display: block;
    @include for-size(phone-only) {
      display: none;
      margin-left: auto;
    }
    ul{
      list-style: none;
      display: flex;
      margin-right: 20px;
      @include for-size(phone-only) {
        margin-right: 0px;
      }
      li{
        padding: 10px 30px;
        font-size: 16px;
        line-height: 1.5;
        @include for-size(phone-only) {
          padding: 0 10px;
        }
        &:hover{
          opacity: .8;
        }
        a{
          display: block;
          color: $txt_color2;
          text-decoration: none;
          font-weight: bold;
        }
      }
    }
  }
}

.overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: $base_color;
  background: -webkit-linear-gradient(top left, $base_color 0%,$sub_color1 100%);
  background: linear-gradient(to bottom right, $base_color 0%,$sub_color1 100%);
  text-align: center;
  padding: 64px 35%;
  opacity: 0;
  pointer-events: none;
  transition: opacity .5s;
  z-index: 3;
  &.show-menu {
    opacity: 1;
    pointer-events: auto;
    li {
      opacity: 1;
      transform: none;
      &:nth-child(1) {
        transition-delay: .1s;
      }
      &:nth-child(2) {
        transition-delay: .2s;
      }
      &:nth-child(3) {
        transition-delay: .3s;
      }
      a {
        font-size: 23px;
        color: $color-white;
      }
    }
  }
  #close-menu {
    position: absolute;
    top: 11px;
    right: 16px;
    font-size: 32px;
    cursor: pointer;
    color: $color-white;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      margin-top: 24px;
      opacity: 0;
      transform: translateY(16px);
      transition: opacity .3s, transform .3s;
    }
  }
}
/* wrap
----------------------------------*/
.wrap{
  width: 95%;
  display: flex;
  margin: 50px auto 0;
  justify-content: space-around;
  @include for-size(phone-only) {
    width: 100%;
    margin: 30px auto 0;
    flex-direction: column;
  }
}
/* main
----------------------------------*/
.main{
  width: 70%;
  background-color: $color-white;
  padding: 5px;
  margin: 0 2%;
  box-shadow: 0px 3px 3px 3px rgba(42,63,102,0.2);
  @include for-size(phone-only) {
    width: calc(96% - 10px);
  }
  h2{
    font-size: 22px;
    color: $color-white;
    background-color: $sub_color1;
    padding: 20px 15px 20px;
    span{
      &.info{
        color: $color_gray2;
        font-size: 15px;
        font-weight: normal;
      }
    }
    button{
      float: right;
      padding: 3px 20px 3px;
      cursor: pointer;
      margin-right: 5px;
      background-color: $color-red;
      border: none;
      border-radius: 3px;
      color: $color-white;
      &:hover{
        opacity: 0.9;
      }
    }
  }
  ul{
    list-style: none;
    border-top: 1px solid $color_gray;
    li{
      padding: 10px 20px;
      font-size: 16px;
      line-height: 1.5;
      padding-left: 2em;
      text-indent: -1.5em;
      border-bottom: 1px solid $color_gray;
      &:nth-child(odd){
        background-color: $sub_gray;
      }
      span{
        &.done{
          text-decoration: line-through;
          color: $color_gray2;
          a {
            color: $color_gray2;
          }
        }
        &.command{
          cursor: pointer;
          position: relative;
          top: 0px;
        }
        a {
          color: $sub_color1;
          &:hover {
            opacity: .8;
          }
        }
      }
    }
  }
  input {
    &[type=text] {
      width: 100%;
      border: none;
      margin: 0 0 5px;
      padding: 10px 20px;
      box-sizing: border-box;
      background: #ececec;
      color: darken(#f9f9f9, 50%);
      &:focus {
        outline: none;
      }
    }
    &[type=submit] {
      width: 100%;
      border: none;
      background: $color-red;
      color: $color-white;
      width: auto;
      cursor: pointer;
      padding: 8px 10px;
      &:hover {
        opacity: .9;
      }
    }
  }
  .start{
    font-size: 18px;
    text-align: center;
    padding: 20px 0 0;
  }
  form{
    .btns{
      display: flex;
      justify-content: center;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
    }
  }
}

/* footer
----------------------------------*/
.footer {
  width: 90%;
  margin: 20px auto 0;
  padding: 20px 0 10px;
}

/* aside
----------------------------------*/
.aside {
  margin: 0 2%;
  @include for-size(phone-only) {
    margin-top: 30px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    border: 5px solid $color-white;
    font-size: 17px;
    margin-top: 30px;
    background-color: $color-white;
    box-shadow: 0px 3px 3px 3px rgba(42,63,102,0.2);
    #prev,#next,#today{
      cursor: pointer;
      user-select: none;
    }
    th,td {
      padding: 8px;
      text-align: center;
    }
    thead{
      color: $color-white;
      background: $sub_color1;
    }
    tbody {
      background: $color-white;
      td{
        &:first-child{
          color: $color-red;
        }
        &:last-child{
          color: $base_color;
        }
        &.disabled {
          opacity: 0.3;
        }
        &.today {
          font-weight: bold;
          background: $sub_gray;
        }
      }
    }
    tfoot {
      background-color: $color-red;
      color: $txt_color2;
      &:hover {
        opacity: .9;
      }
    }
  }
}
/* timer
----------------------------------*/
.timerbox {
  background-color: $color-white;
  padding: 5px;
  margin-bottom: 30px;
  box-shadow: 0px 3px 3px 3px rgba(42,63,102,0.2);
  #timer{
    text-align: center;
    padding: 10px 15px 10px;
    background-color: $sub_color1;
    color: $txt_color2;
    font-size: 40px;
  }
  .controls{
    padding: 10px 10px 5px;
    display: flex;
    justify-content: space-around;
    button {
      padding: 5px 20px;
      cursor: pointer;
    }
  }
}
/* modal
----------------------------------*/
#open,#close {
  cursor: pointer;
  width: 100%;
  text-align: center;
  padding: 8px 0;
  margin: 5px auto 0;
  background-color: $color-red;
  color: $txt_color2;
  font-size: 16px;
  &:hover {
    opacity: .9;
  }
}



#mask {
  background: rgba(0,0,0,.7);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  &.hidden{
    display: none;
  }
}


#modal {
  background: $color-white;
  width: 560px;
  padding: 20px;
  border-radius: 4px;
  position: absolute;
  top: 20%;
  right: 0;
  left: 0;
  margin: 0 auto;
  transition: transform 0.4s;
  z-index: 2;
  @include for-size(phone-only) {
    width: 80%;
  }
  &.hidden{
    transform: translate(0, -500px);
  }
  > p {
    margin: 0 0 20px;
  }
}
