<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue Todo App</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div id="app">
    <header class="header">
      <h1>Todo App</h1>
    </header>
    <div class="wrap">
      <main class="main">
        <h2 class="clearfix">
        今日のTodo
        <span class="info">({{ remaining.length }}/{{ todos.length }})</span>
        <button @click="purge">一括削除</button>
        </h2>
        <ul v-if="todos.length">
          <li v-for="(todo, index) in todos">
            <input class="blue" type="checkbox" v-model="todo.isDone">
            <span :class="{done: todo.isDone}">{{ todo.title }}</span>
            <span @click="deleteItem(index)" class="command"><img src="img/batsu.png" alt="削除"></span>
          </li>
        </ul>
        <p v-else class="start">
            Todoを追加しよう！
        </p>
          <form @submit.prevent="addItem">
            <div class="btns">
              <input type="text" v-model="newItem">
              <input type="submit" value="追加">
            </div>
          </form>
      </main>
      <aside class="aside">
        <table>
          <thead>
            <tr>
              <th id="prev">&laquo;</th>
              <th id="title" colspan="5">2020/05</th>
              <th id="next">&raquo;</th>
            </tr>
            <tr>
              <th>Sun</th>
              <th>Mon</th>
              <th>Tue</th>
              <th>Wed</th>
              <th>Thu</th>
              <th>Fri</th>
              <th>Sat</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
          <tfoot>
            <tr>
              <td id="today" colspan="7">Today</td>
            </tr>
          </tfoot>
        </table>
        
        <div id="open">
          動画を見る
        </div>
        <div id="mask" class="hidden">
          <section id="modal" class="hidden">
            <div id="youtube_box"></div>
            <div id="close">
              閉じる
            </div>
          </section>
        </div>
        <ul class="links">
          <li><a href="https://github.com/shim369" target="_blank">Github</a></li>
          <li><a href="https://dotinstall.com/home" target="_blank">Dotinstall</a></li>
          <li><a href="https://prog-8.com/dashboard" target="_blank">Progate</a></li>
        </ul>
      </aside>
    </div>
    <footer class="footer">
    </footer>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="js/main.js"></script>
  <script>
    const today = new Date();
 let year = today.getFullYear();
 let month = today.getMonth();

 function getCalendarHead() {
   const dates = [];
   const d = new Date(year, month, 0).getDate();
   const n = new Date(year, month, 1).getDay();

   for (let i = 0; i < n; i++) {
     // 30
     // 29, 30
     // 28, 29, 30
     dates.unshift({
       date: d - i,
       isToday: false,
       isDisabled: true,
     });
   }

   return dates;
 }

 function getCalendarBody() {
   const dates = []; // date: 日付, day: 曜日
   const lastDate = new Date(year, month + 1, 0).getDate();

   for (let i = 1; i <= lastDate; i++) {
     dates.push({
       date: i,
       isToday: false,
       isDisabled: false,
     });
   }

   if (year === today.getFullYear() && month === today.getMonth()) {
     dates[today.getDate() - 1].isToday = true;
   }

   return dates;
 }

 function getCalendarTail() {
   const dates = [];
   const lastDay = new Date(year, month + 1, 0).getDay();

   for (let i = 1; i < 7 - lastDay; i++) {
     dates.push({
       date: i,
       isToday: false,
       isDisabled: true,
     });
   }

   return dates;
 }

 function clearCalendar() {
   const tbody = document.querySelector('tbody');

   while (tbody.firstChild) {
     tbody.removeChild(tbody.firstChild);
   }
 }

 function renderTitle() {
   const title = `${year}/${String(month + 1).padStart(2, '0')}`;
   document.getElementById('title').textContent = title;
 }

 function renderWeeks() {
   const dates = [
     ...getCalendarHead(),
     ...getCalendarBody(),
     ...getCalendarTail(),
   ];
   const weeks = [];
   const weeksCount = dates.length / 7;

   for (let i = 0; i < weeksCount; i++) {
     weeks.push(dates.splice(0, 7));
   }

   weeks.forEach(week => {
     const tr = document.createElement('tr');
     week.forEach(date => {
       const td = document.createElement('td');

       td.textContent = date.date;
       if (date.isToday) {
         td.classList.add('today');
       }
       if (date.isDisabled) {
         td.classList.add('disabled');
       }

       tr.appendChild(td);
     });
     document.querySelector('tbody').appendChild(tr);
   });
 }

 function createCalendar() {
   clearCalendar();
   renderTitle();
   renderWeeks();
 }

 document.getElementById('prev').addEventListener('click', () => {
   month--;
   if (month < 0) {
     year--;
     month = 11;
   }

   createCalendar();
 });

 document.getElementById('next').addEventListener('click', () => {
   month++;
   if (month > 11) {
     year++;
     month = 0;
   }

   createCalendar();
 });

 document.getElementById('today').addEventListener('click', () => {
   year = today.getFullYear();
   month = today.getMonth();

   createCalendar();
 });

 createCalendar();

 {
  const open = document.getElementById('open');
  const close = document.getElementById('close');
  const modal = document.getElementById('modal');
  const mask = document.getElementById('mask');

  open.addEventListener('click',()=>{
    modal.classList.remove('hidden');
    mask.classList.remove('hidden');
    const videos = [
      "3KKlcKt7Zac",
      "QzcTkVSGQBg",
      "t0mWGmOlw6M",
      "F_8_v4Ye5ug",
      "Kk0Ua-Idzwo",
      "6aIIUxPGgdI",
      "a3uBXTKJyrI",
      "a3uBXTKJyrI",
      "799z9cygU0s",
      "i1uXiEIv70U"
    ];

    let video = videos[Math.floor(Math.random() * videos.length)];

    let frame = `<iframe width="560" height="315" src="https://www.youtube.com/embed/${video}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>`;
    youtube_box.innerHTML = frame;
  });
  
  close.addEventListener('click',()=>{
    modal.classList.add('hidden');
    mask.classList.add('hidden');
  }); 

  mask.addEventListener('click',()=>{
    // modal.classList.add('hidden');
    // mask.classList.add('hidden');
    close.click();
  });
 }
 </script>
</body>
</html>