<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue Todo App</title>
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <style>

  </style>
</head>
<body>
  <div id="app">
    <header class="header">
      <h1>Todo App</h1>
      <nav class="pc-menu">
        <ul>
          <li><a href="https://github.com/shim369" target="_blank">Github</a></li>
          <li><a href="https://dotinstall.com/home" target="_blank">Dotinstall</a></li>
          <li><a href="https://jsprimer.net/" target="_blank">JavaScript Primer</a></li>
          <li><a href="https://prog-8.com/dashboard" target="_blank">Progate</a></li>
        </ul>
      </nav> 
      <div class="sp-menu">
        <span id="open-menu" class="material-icons">menu</span>
      </div> 
    </header>
    <div class="overlay">
      <span id="close-menu" class="material-icons">close</span>
      <nav>
        <ul>
          <li><a href="https://github.com/shim369" target="_blank">Github</a></li>
          <li><a href="https://dotinstall.com/home" target="_blank">Dotinstall</a></li>
          <li><a href="https://jsprimer.net/" target="_blank">JavaScript Primer</a></li>
          <li><a href="https://prog-8.com/dashboard" target="_blank">Progate</a></li>
        </ul>
      </nav>
    </div>
    <div class="wrap">
      <main class="main">
        <section class="add-list">
        <h2 class="clearfix">
        Todo List
        <span class="info">({{ remaining.length }}/{{ todos.length }})</span>
        <button @click="purge">一括削除</button>
        </h2>
        <ul v-if="todos.length">
          <li v-for="(todo, index) in todos">
            <input class="blue" type="checkbox" v-model="todo.isDone">
            <span :class="{done: todo.isDone}">
              <span v-if="todo.link">
                <a :href="todo.link" target="_blank">{{ todo.title }}</a>
              </span>
              <span v-else>
                {{ todo.title }}
              </span>
            </span>
            <span @click="deleteItem(index)" class="command"><img src="img/batsu.png" alt="削除"></span>
          </li>
        </ul>
      </section>
      <section class="add-list">
        <form @submit.prevent="addItem">
        <h2 class="clearfix">
          Todoを追加しよう！
          <input type="submit" value="追加">
        </h2>
          <div class="btns">
            <input type="text" v-model="newItem" placeholder="Todo Title">
            <input type="text" v-model="newLink" placeholder="URL">
          </div>
        </form>
      </section>
      </main>
      <aside class="aside">
        <div class="timerbox">
          <div id="timer">25:00</div>
          <div class="controls">
            <button id="start">Start</button>
            <button id="stop">Stop</button>
            <button id="reset">Reset</button>
          </div>
          <div id="open">
            5分休憩動画を見る
          </div>
          <div id="mask" class="hidden">
            <section id="modal" class="hidden">
              <div id="youtube_box"></div>
              <div id="close">
                閉じる
              </div>
            </section>
          </div>
        </div>
        <table>
          <thead>
            <tr>
              <th id="prev">&laquo;</th>
              <th id="title" colspan="5">2020/05</th>
              <th id="next">&raquo;</th>
            </tr>
            <tr>
              <th>Sun</th>
              <th>Mon</th>
              <th>Tue</th>
              <th>Wed</th>
              <th>Thu</th>
              <th>Fri</th>
              <th>Sat</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
          <tfoot>
            <tr>
              <td id="today" colspan="7">Today</td>
            </tr>
          </tfoot>
        </table>
        
      </aside>
    </div>
    <footer class="footer">
    </footer>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="js/main.js"></script>
  <script>
    //hamburgerMenu
    {
  const openMenu = document.getElementById('open-menu');
  const overlay = document.querySelector('.overlay');
  const closeMenu = document.getElementById('close-menu');

  openMenu.addEventListener('click',()=>{
    overlay.classList.add('show-menu');
    openMenu.classList.add('hide');
  });
  closeMenu.addEventListener('click',()=>{
    overlay.classList.remove('show-menu');
    openMenu.classList.remove('hide');
  });
}
 // Calendar
 const today = new Date();
 let year = today.getFullYear();
 let month = today.getMonth();

 function getCalendarHead() {
   const dates = [];
   const d = new Date(year, month, 0).getDate();
   const n = new Date(year, month, 1).getDay();

   for (let i = 0; i < n; i++) {
     dates.unshift({
       date: d - i,
       isToday: false,
       isDisabled: true,
     });
   }

   return dates;
 }

 function getCalendarBody() {
   const dates = []; // date: 日付, day: 曜日
   const lastDate = new Date(year, month + 1, 0).getDate();

   for (let i = 1; i <= lastDate; i++) {
     dates.push({
       date: i,
       isToday: false,
       isDisabled: false,
     });
   }

   if (year === today.getFullYear() && month === today.getMonth()) {
     dates[today.getDate() - 1].isToday = true;
   }

   return dates;
 }

 function getCalendarTail() {
   const dates = [];
   const lastDay = new Date(year, month + 1, 0).getDay();

   for (let i = 1; i < 7 - lastDay; i++) {
     dates.push({
       date: i,
       isToday: false,
       isDisabled: true,
     });
   }

   return dates;
 }

 function clearCalendar() {
   const tbody = document.querySelector('tbody');

   while (tbody.firstChild) {
     tbody.removeChild(tbody.firstChild);
   }
 }

 function renderTitle() {
   const title = `${year}/${String(month + 1).padStart(2, '0')}`;
   document.getElementById('title').textContent = title;
 }

 function renderWeeks() {
   const dates = [
     ...getCalendarHead(),
     ...getCalendarBody(),
     ...getCalendarTail(),
   ];
   const weeks = [];
   const weeksCount = dates.length / 7;

   for (let i = 0; i < weeksCount; i++) {
     weeks.push(dates.splice(0, 7));
   }

   weeks.forEach(week => {
     const tr = document.createElement('tr');
     week.forEach(date => {
       const td = document.createElement('td');

       td.textContent = date.date;
       if (date.isToday) {
         td.classList.add('today');
       }
       if (date.isDisabled) {
         td.classList.add('disabled');
       }

       tr.appendChild(td);
     });
     document.querySelector('tbody').appendChild(tr);
   });
 }

 function createCalendar() {
   clearCalendar();
   renderTitle();
   renderWeeks();
 }

 document.getElementById('prev').addEventListener('click', () => {
   month--;
   if (month < 0) {
     year--;
     month = 11;
   }

   createCalendar();
 });

 document.getElementById('next').addEventListener('click', () => {
   month++;
   if (month > 11) {
     year++;
     month = 0;
   }

   createCalendar();
 });

 document.getElementById('today').addEventListener('click', () => {
   year = today.getFullYear();
   month = today.getMonth();

   createCalendar();
 });
 createCalendar();

  // alert sound
  function sound(type, sec) {
    const ctx = new AudioContext()
    const osc = ctx.createOscillator()
    osc.type = type
    osc.connect(ctx.destination)
    osc.start()
    osc.stop(sec)
  }
  //Timer
  let timer = document.getElementById('timer');
  let reset = document.getElementById('reset');
  let start = document.getElementById('start');
  let stop = document.getElementById('stop');


  let startTime;
  let timeLeft;
  let timeToCountDown = 1500 * 1000;
  let timerId;
  var isRunning = false;

  function updateTimer(t) {
    let d = new Date(t);
    let m = d.getMinutes();
    let s = d.getSeconds();
    m = ('0' + m).slice(-2);
    s = ('0' + s).slice(-2);
    timer.textContent = m + ':' + s;
  }

  function countDown() {
    timerId = setTimeout(() => {
      timeLeft = timeToCountDown - (Date.now() - startTime);
      if (timeLeft < 0) {
        clearTimeout(timerId);
        timeLeft = 0;
        timeToCountDown = 1500 * 1000;
        updateTimer(1500 * 1000);
        sound("sine", 0.3);
        modalOpen();
        return;
      }
      updateTimer(timeLeft);
      countDown();
    }, 10);
  }

  start.addEventListener('click', () => {
    startTime = Date.now();
    countDown();
  });
  stop.addEventListener('click', () => {
      timeToCountDown = timeLeft;
      clearTimeout(timerId);
  });
  reset.addEventListener('click', () => {
    timeToCountDown = 1500 * 1000;
    updateTimer(timeToCountDown);
  });

  // modal & YouTube
  const open = document.getElementById('open');
  const close = document.getElementById('close');
  const modal = document.getElementById('modal');
  const mask = document.getElementById('mask');
  
  let frame;

  function modalOpen() {
    
    modal.classList.remove('hidden');
    mask.classList.remove('hidden');
    const videos = [
    "sFMGAjLQ92Q",
    "F_8_v4Ye5ug",
    "RvrYaYVpgyE",
    "N1kikkete70",
    "j9tUjXhOrm4",
    "3KKlcKt7Zac",
    "Kk0Ua-Idzwo",
    "6aIIUxPGgdI",
    "0gmIc0ihJlI",
    "WRyZS31pLwE",
    "Oa8kBuxddnQ",
    "Z2IPlLYHnf4",
    "DyAG1LiNcsg",
    "4zMGuAIi6ok",
    "a3uBXTKJyrI",
    "QzcTkVSGQBg",
    "uSIX3N4JTH8",
    "P0dZXxC8FIo",
    "i1uXiEIv70U",
    "nT9EhAWDcws",
    "YpNmj7dZzT4",
    "t0mWGmOlw6M",
    "spiHw2VYbK4",
    "UeEZouPYgfY",
    "gXS7wtAW1Bw",
    "PlDQ7lpIR28",
    "799z9cygU0s",
    "UjxtLwbii1k",
    "sqfkNcRC92g",
    "bFN3m9uDd9o",
    "cBKV1KCUgB4",
    "cnHEwZbK_T8",
    "ttcHMC1z2Gc",
    "PIejo90_yxM",
    "_spJ1v1YcG0",
    "1Epp195KDs8"
    ];

    let video = videos[Math.floor(Math.random() * videos.length)];

    frame = `<iframe width="100%" height="315" src="https://www.youtube.com/embed/${video}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>`;
    youtube_box.innerHTML = frame;
  }

  open.addEventListener('click',()=>{
    modalOpen();
  });
  
  close.addEventListener('click',()=>{
    modal.classList.add('hidden');
    mask.classList.add('hidden');
    frame = "";
    youtube_box.innerHTML = frame;
  }); 

  mask.addEventListener('click',()=>{
    // modal.classList.add('hidden');
    // mask.classList.add('hidden');
    close.click();
  });
 </script>
</body>
</html>